<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Contact Us</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p>For more information about Riley Water Consulting’s services, capabilities, and qualifications or if you wish to post your water right on this website. please call or email us at:</p>
    <p><strong>Phone</strong>: <%= link_to '(801) 355-1883', 'tel:801-355-1883' %></p>
    <p><strong>Jim</strong>: <%= mail_to "jim@riley-water.com" %></p>
    <p><strong>Logan</strong>: <%= mail_to "logan@riley-water.com" %></p>
    <p>We are located at:<br />
      <strong>175 S. Main Street Suite 1330<br />
      Salt Lake City, UT 84111</strong>
    </p>
  </div>
  <div class="contact col-md-6" id="map_canvas">
  </div>
</div>