<h1 class="text-center">Place of Use Areas</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Polygon</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <%= render(@place_of_use_areas) %>
    </tbody>
  </table>
</div>

<div class="text-center">
  <%= link_to 'New Place of Use Area', new_place_of_use_area_path, class: 'btn btn-primary' %>
</div>
