<div class="row">
  <div class="col-lg-3">
    <%= select_tag :user_id, options_for_select(@users, (@user.id if @user) || 0), class: 'form-control', id: 'user-selector' %>
  </div>
</div>

<%= render template: 'water_rights/index', object: @water_rights %>

<%= render template: 'place_of_use_areas/index', object: @place_of_use_areas %>

<%= render template: 'point_of_diversions/index', object: @point_of_diversions %>