<div class="row">
  <div class="col-md-6">
    <h6 class="text-center">Click a point or area on the map below to bring up water rights associated with the clicked point/area</h6>
    <div class="water_rights" id="map_canvas">
    </div>
    <h6 class="text-center">Don't see the area that you want to buy or sell water rights in? Give us a call and we'll put it up on the website</h6>
  </div>
  <div class="col-md-6" id="data">
    <h3 id="water_rights_title">Water Rights</h3>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <th>Number</th>
          <th>Flow CFS</th>
          <th>Change Application Number</th>
          <th>Source</th>
        </thead>
        <tbody id="water_rights_table">
        </tbody>
      </table>
    </div>
  </div>
</div>
