<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Applications to Appropriate</h1>
    <%= image_tag "http://water-rights.s3.amazonaws.com/services/applications_to_appropriate.jpg", class: 'services-pic' %>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <p>An Application to Appropriate is to initiate a water right by requesting and receiving permission from the State to beneficially use water. Many areas throughout the State have been over appropriated and therefore any new Applications to Appropriate in those areas aren’t allowed. For more information on each area visit <%=  link_to "http://www.waterrights.utah.gov/wrinfo/policy/approp.asp","http://www.waterrights.utah.gov/wrinfo/policy/approp.asp", class: 'word-wrap' %> or the <%=  link_to "Buy/Sell", buy_sell_path %> page, which briefly discusses the policy in each area.</p>
    <p>Riley Water Consulting helps people understand if they can file an Application to Appropriate and if they can, helps file Applications to Appropriate.</p>
  </div>
  <%= render "layouts/other_services" %>
</div>