<% content_for(:extra_body_classes, 'contact-page') %>
<!-- 
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <p>For more information about Riley Water Consulting’s services, capabilities, and qualifications or if you wish to post your water right on this website. please call or email us at:</p>
      <p><strong>Phone</strong>: <%#= link_to '(801) 355-1883', 'tel:801-355-1883' %></p>
      <p><strong>Jim</strong>: <%#= mail_to "jim@riley-water.com" %></p>
      <p><strong>Logan</strong>: <%#= mail_to "logan@riley-water.com" %></p>
      <p>We are located at:<br />
        <strong>175 S. Main Street Suite 1330<br />
        Salt Lake City, UT 84111</strong>
      </p>
    </div>
    <div class="contact col-md-6" id="map_canvas">
    </div>
  </div>
</div> -->

<div id="contact-page">
  <div class="map-col right">
    <div id="contact-page-map"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="contact-info">
          <p class="intro">For more information about Riley Water Consulting’s services, capabilities, and qualifications or if you wish to post your water right on this website, please call or email us at:</p>
          <h4>Phone:</h4>
          <p><%= link_to '(801) 589-4766', 'tel:801-589-4766' %></p>
          <h4>Jim:</h4>
          <p><%= mail_to "jim@riley-water.com" %></p>
          <h4>Logan:</h4>
          <p><%= mail_to "logan@riley-water.com" %></p>
          <h4>Address:</h4>
          <p>721 N Main Street, Suite 209<br>Layton, UT 84041</p>
        </div>
      </div>
    </div>
  </div>
</div>