<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Declarations of Beneficial Use</h1>
    <%= image_tag "http://water-rights.s3.amazonaws.com/services/declarations_of_beneficial_use.jpg", class: 'services-pic' %>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <p>Often times the State Engineer’s records show that two or more water rights are used together for the same use and placed in what is known as a “water use group”. When the uses of each water right within a water use group haven’t been defined a Declaration of Beneficial Use (DOBU) needs to be filed in order to assign a specific beneficial use to each water right. The purpose of a DOBU is to allow water right owners to determine and declare the amount of Beneficial Use that each water right contributes to the total Beneficial Use of a water use group.</p>
    <p>If you own one or more water rights that are a part of water use group that the States database shows “unevaluated” and you’d like to file a Change Application on just your water rights, then most likely you’ll have to file a DOBU. It is a good idea to first do in depth research on your water rights to determine if the State’s database is correct. If it is, then proceed to filling out the DOBU form and if it’s not then you need to determine what the database should look like and request that the State update it.</p>
    <p>The DOBU form is specific to each water use group, therefore, a DOBU form needs to be filled out for every group being defined rather than just one per water right (if there are multiple water use groups).</p>
    <p>After a water right owner determines if the State’s database is correct they can then determine how much water comes from each source that contributes to the beneficial use, after which the DOBU form can be filled out. In most cases the water use group will be populated with multiple water rights with multiple owners. The tricky part is getting all of the water right owners to agree to the same amounts and sign the form. If all of the owners won’t sign the DOBU form, the water right owner seeking to complete the DOBU will then need to fill out an Application for Apportionment form.</p>
    <p>The Apportionment form requests that the State apportion the uses within the specific water right group that you can’t get all of the water right owners to sign.  This form requires you to document that you’ve tried to get all water right owners signatures.</p>
    <p>Riley Water Consulting has processed hundreds of these DOBU forms and understands exactly what the State wants to see. We can figure out when the State’s database is in error and determine how it should be to request the State fix it.</p>
  </div>
  <%= render "layouts/other_services" %>
</div>