<h1 class="text-center">Point of Diversions</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Point</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <%= render(@point_of_diversions) %>
    </tbody>
  </table>
</div>

<div class="text-center">
  <%= link_to 'New Point of Diversion', new_point_of_diversion_path, class: 'btn btn-primary' %>
</div>
