<!-- <p id="notice"><%#= notice %></p> -->

<p>
  <strong>Name:</strong>
  <%= @point_of_diversion.name %>
</p>

<p>
  <strong>Point:</strong>
  <%= @point_of_diversion.point %>
</p>

<%= link_to 'Edit', edit_point_of_diversion_path(@point_of_diversion) %> |
<%= link_to 'Back', point_of_diversions_path %>
