<table id="listing-areas-table" class="table table-striped table-bordered dt-responsive no-wrap">
  <thead>
    <tr>
      <th>Name</th>
      <th>Policy</th>
      <th>Preview Map</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render(@listing_areas) || render('listing_areas/empty') %>
  </tbody>
</table>

<div class="text-center">
  <%= link_to 'New Listing Area', new_listing_area_path, class: "btn btn-primary" %>
</div>
