<table id="wanteds-table" class="table table-striped table-bordered dt-responsive no-wrap">
  <thead>
    <tr>
      <th>Volume</th>
      <th>Source</th>
      <th>Description</th>
      <th>Contact info</th>
      <th>Listing area</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render(@wanteds) || render('wanteds/empty') %>
  </tbody>
</table>

<div class="text-center">
  <%= link_to 'New Wanted', new_wanted_path, class: "btn btn-primary" %>
</div>
