<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="footer-text text-muted text-center">
          <span class="address">Riley Water Consulting | 175 South Main Street Suite 1330 Salt Lake City, UT 84111</span>
          <%= link_to '801.355.1883', 'tel:801-355-1883' %>
        </p>
      </div>
    </div>
  </div>
</footer>