<div class="col-md-4">
  <h4 class="service-list-header">All Services</h4>
  <div class="list-group">
    <%#= link_to "Diligence Claims", diligence_claims_path, class: 'list-group-item text-center' %>
    <%#= link_to 'Proof of Beneficial Use', proof_of_beneficial_use_path, class: 'list-group-item text-center' %>
    <%#= link_to 'Change Application', change_application_path, class: 'list-group-item text-center' %>
    <%#= link_to 'Reports of Conveyance (Title)', reports_of_conveyance_path, class: 'list-group-item text-center' %>
    <%#= link_to '40 Year Plan', fourty_year_plan_path, class: 'list-group-item text-center' %>
    <%#= link_to 'Extension Request', extension_request_path, class: 'list-group-item text-center' %>
    <%#= link_to 'Declarations of Beneficial Use', declarations_of_beneficial_use_path, class: 'list-group-item text-center' %>
    <%#= link_to 'Applications to Appropriate', applications_to_appropriate_path, class: 'list-group-item text-center' %>
    <%#= link_to 'Non-use Application', non_use_application_path, class: 'list-group-item text-center' %>
  </div>
</div>